{% extends 'base.html' %}
 
{% block content %}
<form action = '/post-client' method = "post"> 
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input class="form-control" type = "text" name = "nombre" placeholder="Nombre" aria-label='Nombre' aria-describedby="basic-addon1" = "Nombre"/>
    </div> 
    <div class="mb-3">
        <input type = "text" name = "plato_favorito" placeholder = "Plato Favorito" class="form-control" aria-label="Plato Favorito" />
    </div> 
    <input type = "submit" value = "Cadastrar" class="btn btn-success"/>  
 </form> 
  
{% endblock content %}